<phpunit
	bootstrap="tests/bootstrap.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	strict="true">

	<testsuite>
		<directory>./tests/lib</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>

</phpunit>